@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div {
    width: 35px;
    height: 5px;
    background-color: white;  
    backdrop-filter: blur(1px);
    margin: 6px 0;
    border-radius: 5px;
  }

body {
    background: linear-gradient(to right, hsl(60, 68%, 61%), hsl(150, 96%, 47%));
    font-family: 'Roboto', sans-serif;
}

.titleContainer {
    
    margin:auto;
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.398);  
    backdrop-filter: blur(5px);
    padding: 20px; 
    width: 450px;
    height: 120px; 
    font-size: 20px;
    text-align: center;
    
    
}
h1 {
    color:rgba(8, 8, 8, 0.234);
    margin-top: 20px;
}

.timer {
    margin:auto;
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(52, 49, 49, 0.203);  
    backdrop-filter: blur(5px);
    padding: 20px; 
    width: 350px;
    height: 120px;  
    font-size: 50px;
    font-weight: bold;
    color:rgba(222, 188, 188, 0.925);
    text-align: center;
    
}

p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.button {   
    border-radius: 20px;
    width: 150px;
    height: 60px;
    border:none;
    background-color: rgba(76, 71, 71, 0.203); 
    backdrop-filter: blur(5px);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color:rgba(222, 188, 188, 0.925);
    
}



.button:active {
    transform: scale(.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}






/*.restart {
    margin:auto;
    margin-top: -85px;
    margin-left: 575px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(76, 71, 71, 0.203);  
    backdrop-filter: blur(5px);
    padding: 20px; 
    width: 150px;
    height: 60px; 
    font-size: 20px;
    text-align: center;
}
*/
h2 {
    margin:auto;
    margin-top:-10px;
    color:rgba(21, 9, 9, 0.234);
}

