*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

body {
    background: linear-gradient(to right, hsl(60, 68%, 61%), hsl(150, 96%, 47%));
}

.titleContainer {
    
    margin:auto;
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.398);  
    backdrop-filter: blur(5px);
    padding: 20px; 
    width: 450px;
    height: 120px; 
    font-size: 20px;
    text-align: center;
    
    
}
h1 {
    color:rgba(21, 9, 9, 0.234);
    margin-top: 20px;
}

.timer {
    margin:auto;
    margin-top: 100px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(76, 71, 71, 0.203);  
    backdrop-filter: blur(5px);
    padding: 20px; 
    width: 350px;
    height: 120px; 
    font-size: 20px;
    
    text-align: center;
}

.button {
    margin:0;
    
    top: 150%;
    border-radius: 25px;
    width: 150px;
    height: 60px;
    border:none;
    background-color: rgba(76, 71, 71, 0.203); 
    backdrop-filter: blur(5px);
    cursor: pointer;
    font-size: 20px;
}



.button:active {
    transform: scale(.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}






/*.restart {
    margin:auto;
    margin-top: -85px;
    margin-left: 575px;
    margin-bottom: 25px;
    border-radius: 25px;
    background-color: rgba(76, 71, 71, 0.203);  
    backdrop-filter: blur(5px);
    padding: 20px; 
    width: 150px;
    height: 60px; 
    font-size: 20px;
    text-align: center;
}
*/
h2 {
    margin:auto;
    margin-top:-10px;
    color:rgba(21, 9, 9, 0.234);
}

